<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2 class="modal-title" id="myModalLabel"> Registro de asignatura</h2>
        </div>

        <div class="modal-body">
            <form method="post" id="formulario-registro-asignatura">
                {% csrf_token %}

                <div id="mensajes">
                    {% if mensajes %}
                        <div class="{{ clase }}">
                            {% for mensaje in mensajes %}
                                <p>{{ mensaje }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>


                <div class="formulario">

                    <p class="form-registro">
                        <label>{{ formulario.codigo.label }}</label>
                        {{ formulario.codigo }}
                    </p>

                    <p class="form-registro">
                        <label>{{ formulario.nombre.label}}</label>
                        {{ formulario.nombre }}
                    </p>
                </div>
            </form>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-modal-close-modal">Close </button>
            <button type="button" class="btn btn-success" onclick="registro_asignatura()">Registrar</button>
        </div>
    </div><!-- /.modal-contenido -->
</div><!-- /.modal-dialog -->